#Python
__pycache__/

#Virtual env
venv/

#Claves de entorno
.env

#Notebook de pruebas
sandbox_notebook.ipynb

#Carpeta de archivos de prueba
sandbox_files/

#Vectorstore local
faiss_index/
data/
temp_files/